body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    background-color: #C3F8FF;
}
.heading{
    font-size: 30px;
    font-weight: bold;
    color: #0078AA;
    border-bottom: 4px solid #ABD9FF;
}
.result{
    background-color: #ABD9FF;
    border: 2px solid #0078AA;
    border-radius: 3px;
    width: 150px;
    height: 20px;
}
.btn{
    height: 25px;
    background-color: #0078AA;
    border: 2px solid #ABD9FF;
    border-radius: 7px;
}
.bottom{
    color: #2D6187;
    font-size: 30px;
    font-weight: bold;
}
